.hero {
  text-align: center;
  &__contact {
    background: $lightblue;
    color: #ffffff;
    width: 278px;
    height: 48px;
    align-items: center;
    line-height: 48px;
    border-radius: 64px;
    margin: 48px 0 88px 0;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 16px;
    color: $dark;
    font-weight: 300;
    font-size: 16px;
  }
  &__hello {
    display: none;
  }
  &__h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: $dark;
  }
  &__link {
    color: $lightblue;
    text-decoration: none;
    font-weight: bold;
  }
  &__photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }
  &__photo {
    box-sizing: content-box;
    border: 16px solid #f6f9fd;
    border-radius: 50%;
    width: 96px;
    height: 96px;
  }
  &__special {
    color: $blue1;
  }
  &__text {
    color: $all;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
  }
}
