$all: #425A70;
$dark:  #234361;
$blue1: #1070ca;
$lightBlue: #4da8ff;
$veryLightBlue: #dbeaf7;
$conoleGrey1:#808082;
$consoleGrey2: #a3a3a3;
$consoleLink: #14b5d0;
$grey: #212528;
$darkGrey: #1e1e1e;
$mediumGrey: #464a4d;