@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap");
@import "modules/hero.scss";

$blue1: #1070ca;
$lightblue: #4da8ff;


body {
  
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}



.skills {
  background: $blue1;
}
